body {
    background-color: #F3F3F1;
}

.logo {
    width: 46px;
    padding: 1%;
    text-align: center
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 100px;
    padding: 100vw;
}

.inline-block {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
    margin: 0px 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
    margin: 0px 0px;
    font-family: 'Lora', sans-serif;
}

nav ul li {
    margin: 0 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}

nav ul li:last-child {
    padding-right: 10px;
    margin-right: 0px;
}

nav ul li:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.heroImg {
    width: 285px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 31pt;
    font-kerning: 0%;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24pt;
    font-kerning: 0%;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 18pt;
    font-kerning: 0%;
}

h3:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    font-kerning: -1%;
}

#Profile {
    height: 300px;
}

.card-icon {
    width: 100px;
}

.tools_container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: 'Quattrocento Sans', sans-serif;
  }
  
  #dropDown {
    display: none;
  }
  
  #toggle {
    background-color: #5c0202;
    padding: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer; 
  }
  
  #hamburger {
    color: white;
  }
  
  ul {
    margin:0;
    padding: 0;
    list-style-type:none;
  }
  li {
    margin:0;
    padding: 15px;
    border: 1px solid black;
  }
  img {
    width: 18px;
  }  

.Watchify {
    grid-area: "Watchify";
    margin: 100px 100px;
  }

#SFJAZZ_image {
    width: 400px;
    padding: 50px;
}

#Watchify_image {
    width: 400px;
    padding: 50px;
}

#DofE_image {
    width: 400px;
    padding: 50px;
}

 